#msg {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 8px;
}
.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#chat-form button {
  padding: 7px 16px;
  background: #90ccf4;
  color: #000;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #90ccf4;
}
#chat-form button span {
  padding-left: 4px;
  font-size: medium;
}
#chat-form {
  display: flex;
}
.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 74vh;
  overflow: scroll;
}
.message {
  padding: 15px;
  background: #90ccf4;
  margin-bottom: 15px;
  width: fit-content;
}
.message div,
label div {
  display: flex;
  justify-content: space-between;
}
.message-user {
  border-radius: 10px 10px 10px 0;
}
.message-other-user {
  border-radius: 10px 10px 0 10px;
}
.username {
  font-weight: 500;
}
.time {
  font-size: small;
  color: white;
  padding-left: 70px;
}
.message p {
  padding-top: 10px;
}
#msg {
  border: solid var(--accent-color);
  margin-right: 50px;
}
