.game {
  width: 80%;
}
/* TODO: make answer-form a class instead of an ID */
#answer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#answer-form img {
  width: 300px;
}
#answer-form label h2,
#answer-form label h3 {
  padding-top: 20px;
}
.country {
  font-size: x-large;
}
.city {
  font-size: large;
}
#answer-form label {
  background: var(--primary-color);
  padding: 40px 35px;
  display: inline-block;
  border-radius: 10px 10px 10px 0px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}
.game label:hover {
  box-shadow: 0 0 45px -9px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}
input[type='radio'] {
  position: absolute;
  left: -100vw;
}
#answer-form input[type='radio']:checked + label {
  background: var(--dark-accent);
}
#answer-form input[type='radio'] + label + input[type='submit'] {
  display: none;
}
#answer-form input[type='radio']:checked + label + input[type='submit'],
#answer-form
  input[type='radio']:checked
  + label
  + input[type='radio']
  + label
  + input[type='submit'] {
  display: inline-block;
}
.question_submit {
  padding: 15px;
  background: var(--primary-color);
  margin-bottom: 15px;
  width: fit-content;
  border-radius: 10px 10px 10px 0;
  border: none;
  cursor: pointer;
}
