.game {
  width: 80%;
}
.game form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game img {
  width: 300px;
}
.game label h2,
.game label h3 {
  padding-top: 20px;
}
.country {
  font-size: x-large;
}
.city {
  font-size: large;
}
.game label {
  background: var(--primary-color);
  padding: 40px 35px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.game label:hover {
  box-shadow: 0 0 45px -9px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}
input[type='radio'] {
  position: absolute;
  left: -100vw;
}
input[type='radio']:checked + label {
  background: var(--dark-accent);
}
