html {
  height: 100%;
}
/* TODO: make mobile view for new questions better (flexbox and padding/margin) */
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 13fr 1fr;
  height: 100vh;
  color: var(--text-color);
}
/* lay-out */
header {
  background: var(--neutral-grey);
  padding: var(--default-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
main {
  display: flex;
}
.leaderboard {
  padding: var(--default-padding);
  flex: 1;
}
.chat {
  padding: var(--default-padding);
  flex: 4;
}
footer {
  background: var(--neutral-grey);
  padding: var(--default-padding);
}
footer p span {
  font-weight: 500;
}
/* headers and text */
h1 {
  font-size: medium;
  font-weight: 700;
}
h2 {
  font-size: medium;
  font-weight: 500;
}
/* buttons */
button,
.btn {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  background: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
  box-shadow: 0 4px 7px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-size: 13.3333px;
}

button span.material-icons,
.btn span.material-icons {
  margin-left: 25px;
  background: rgb(236, 240, 243);
  border-radius: 35px;
}
button:hover,
.btn:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile {
  display: none;
}
@media only screen and (max-height: 812px) {
  .btn,
  button {
    padding: 5px;
  }
  button span.desktop,
  .btn span,
  .leaderboard h2:first-of-type,
  #room-name {
    display: none;
  }
  button span.mobile,
  .btn span.material-icons,
  button span.material-icons {
    display: inline-block;
    margin-left: 0;
    background: none;
  }
  header,
  main,
  footer {
    width: calc(100% - 30px);
  }
  main {
    display: block;
  }
  main .leaderboard {
    width: 100%;
  }
  #users li p,
  #users li h3 {
    width: auto;
  }
  .leaderboard ul#users li {
    align-items: baseline;
    margin-bottom: 0;
  }
  #users {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .chat {
    width: 100%;
    height: 73%;
  }
  #msg {
    margin-right: 15px;
  }
  .chat-messages {
    max-height: 51vh;
  }
}
