<section class="chat">
   <div class="chat-messages">
       <div class="message message-user">
           <span>Name</span>
           <span>Time</span>
           <p>Some text.</p>
       </div>
       <div class="message message-other-user">
           <span>Name</span>
           <span>Time</span>
           <p>Some text.</p>
       </div>
   </div>
   <div class="chat-form-container">
       <form id="chat-form">
           <input type="text" id="msg" placeholder="Enter Message" autocomplete="off">
           <button>Send<span class="material-icons"> send </span></button>
       </form>
   </div>
</section>