<section class="chat">
   <div class="chat-messages">
   </div>
   <div class="chat-form-container">
       <form id="chat-form">
           <input type="text" id="msg" placeholder="Enter Message" autocomplete="off">
           <button>Send<span class="material-icons"> send </span></button>
       </form>
   </div>
</section>