<section class="game">
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg" alt="">
        <h2 class="country">Nederland</h2>
        <h3 class="city">Amsterdam</h3>
    </div>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/20/Flag_of_the_Netherlands.svg" alt="">
        <h2 class="country">Nederland</h2>
        <h3 class="city">Amsterdam</h3>
    </div>
</section>