<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/front.css">
    <title>RRTW</title>
</head>
<body>
    <div class="container">
        <header><h1>Waar is het warmer?</h1></header>
        <main>
            <form action="/chat">
                <fieldset>
                    <label for="username">Naam</label>
                    <input type="text" name="username" id="username" placeholder="Je naam..." required>
                </fieldset>
                <fieldset>
                    <label for="room">Room</label>
                    <input type="text" name="room" id="room" list="room_list" placeholder="Kies je game..." required autocomplete="false">
                </fieldset>
                <datalist id="room_list">
                    <option value="Room 1">Room 1</option>
                    <option value="Room 2">Room 2</option>
                    <option value="Room 3">Room 3</option>
                </datalist>
                <button type="submit">Join</button>
            </form>
        </main>
    </div>  
    <script>
        if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js')
      .then((reg) => console.log('service worker registered', reg))
      .catch((err) => console.log('service worker NOT registered', err))
  }
  </script>
</body>
</html>