a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
* {
    outline-color: #90ccf4;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
header {
    padding-bottom: 70px;
}
.container {
  background: #f3d250;
  padding: 65px 50px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 0px 123px -9px rgba(0,0,0,0.75);
}
fieldset {
  border: none;
  display: flex;
  padding-bottom: 70px;
}
h1 {
    font-size: 2rem;
    font-weight: 700;
}
fieldset label {
    padding-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
fieldset input {
    width: calc(100% - 20px);
    border: none;
    padding: 10px;
    border-radius: 8px;
}
button[type='submit'] {
    float: right;
    border: none;
    padding: 15px 30px;
    background: #ececec;
    color: black;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}
button[type='submit']:hover {
    background: #90ccf4;
    transform: scale(1.1);
}
