@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffe400;
    --accent-color: #14a76c;
    --neutral-grey: #272727;
    --dark-accent: #18405f;
    --red-color: #ff652f;
    --text-color: white;
    --secondary-text-color: #272727;
    --default-padding: 15px;
  }
  .btn,
  button {
    color: var(--secondary-text-color) !important;
  }
  .chat {
    background: #747474;
  }
  label {
    color: var(--neutral-grey);
  }
}
